@import "variables.less";

#overlay{
    display: none;
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
#overlay:target{
    display: block;
}
.popup_block{
    background: #fff;
    padding: 20px;
    border: 20px solid #ddd;
    position: relative;
    margin: 10% auto;
    width: 100%;
    box-shadow: 0px 0px 20px #000;
    border-radius: 10px;
}

.espace_client, #overlay{
	.panel-body{
		background-color: @color_fond_gris_leger;
		border : 5px solid white;
	}
	width :100%;
	h2, h3{
		color: @color_titres;
	}
	h2{
		margin-top: 12px;
		text-align: center;
		font-size:1.8em;
	}
	h3{
		margin-top:0;
	}
	h4{
		padding-top: 5px;
	}
	.livraisons_ouvertes{
		h4{
			border-top: 3px solid @color_livraison_dark;
			color: @color_livraison_dark;
		}
		.total_livraison{
			font-size: 1.1em;
			color: @color_livraison_dark;
			text-align: center;
			font-weight: 900;		}
		}
		.commandes{
			p{
				position:absolute;
				color:darken(@color_commande, 50%);
				right: 0;
				top: 10px;
			}
			h4{
				border-top: 3px solid @color_titres;
			}
		}
		#une_commande_archive{
			// display:none;
		}
		.onglet{
			text-align:center;
			border-left: solid 3px white;
			border-right: solid 3px white;
		}
		.flexcontainer{
			justify-content:center;
			>div{
				margin:5px;
				text-align:center;
				background-color: white;
				width: 24%;
			}
		}
		div.paiement_relais{
			h5{
				font-size: 1.1em;
				margin-bottom: 1px;
			}
		}
		.relais, .modepaiement{
			background-color: white;
			span{
				background-color: white;
				border: solid 2px @color_commande;
				font-size:0.8em;
				margin:3px;
			}
			span.checked{
				border: solid 2px darken(@color_commande, 50%);
				color: white;
				background-color: darken(@color_commande, 50%);
			}
		}
		.relais{
			flex-direction:column;
			span{
			}
		}
		#change_detected{
			width:80%;
			text-align: center;
			position: fixed;
			top: 0;
			z-index: 1000;
		}
		.panierDeLivraisonOuverte{
			flex-direction: column;		
			align-items: space-between;		
			.type{
				background-color: @color_commande;
				text-align: center;
				width: 100%;
			}
			p{
				margin:3px auto;
			}
			.quantite{
				position:relative;
				width:100%;
				margin: auto;
				height:40px;
				input{
					background-color: @color_commande;
					border: none;
					width:25%;
					height:100%;
					font-size:1.8em;
					text-align: center;
				}
				.fleche{
				// opacity:0.5;
				color: @color_livraison_dark;
				cursor: pointer;
				top: 33%;
				position: absolute;
				height:20%;
			}
			.increment{
				right:39%;
			}
			.decrement{
				left:39%
			}
		}
	}
}
