@import "variables.less";

.fiche {
	background-color: @color_tempo;
	border: solid;
	border-width: 10px;
	border-color: @color_tempo;
	margin: 5px;
	text-align: center;
	flex-grow: 1;
	max-width: 24%;
}


.fiche.is_not_actif{
	background-color: @color_notactif;
	border-color: @color_notactif;
}

