@import "variables.less";

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
GLOBAL
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.ombrable:hover {
	box-shadow: 0px 0px 16px #aaa;
}

#ui-datepicker {
	display:none;
}

.ui-datepicker {
	margin-top: -32px;
	margin-left: -3px;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
LAYOUT BASE
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.layout_flexcontainer {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.layout-flexcontent {
	flex: 1;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
FORMS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.panel-heading {
	padding-top: 1px;
}



/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
ERRORS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.error_txt p{
	color:@color_error;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
TITRE PAGE
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
h1.titrepage {
	font-size: 30px;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
“Couleur blanc” pour effet calque
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
h1.titrepage {
	font-size: 30px;
}


.lighten25 {
	background-color: rgba(255, 255, 255, 0.25);
}

.lighten33 {
	background-color: rgba(255, 255, 255, 0.33);
}

.lighten50 {
	background-color: rgba(255, 255, 255, 0.5);
}

.lighten66 {
	background-color: rgba(255, 255, 255, 0.66);
}

.lighten75 {
	background-color: rgba(255, 255, 255, 0.75);
}


.titrepage {
	margin-top: 0px;
}

.topcontent1 {
	/*background-color: green;*/
	min-height: 30px
}

.topcontent2 {
	/*background-color: yellow;*/
	min-height: 30px
}












.flexcontainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: stretch;
}

.portrait {
	background-color: @color_tempo;
	border: solid;
	border-width: 10px;
	border-color: @color_tempo;
	margin: 5px;
	text-align: center;
	flex-grow: 1;
	max-width: 24%;
}


.portrait.is_not_actif{
	background-color: @color_notactif;
	border-color: @color_notactif;
}


.toggle_actif.is_not_actif div{
	background-color: @color_notactif;
}

.toggle_actif.is_actif label{
	color: #000;
}

.toggle_actif.is_not_actif label{
	color: #BBB;
}







/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
FOOTER
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.footercontainer {
	background-color: #EEE;
/*	position: fixed;
	bottom: 0px;
	*/	text-align: center;
}

.footer1 {
	background-color: #DDD;
}

.footer2 {
	/*background-color: CornSilk;*/
}

.footer3 {
	background-color: #DDD;
}

.relais {
	font-size: 0.9em;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
DIVERS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.modemploi{
	font-size: 0.9em;
	font-style: italic;
}

.modemploi .fa{
	margin-left: 2px;
	margin-right: 2px;
	font-size: 0.9em;
}

