@import "variables.less";

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
GLOBAL
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.ombrable:hover {
	box-shadow: 0px 0px 16px #aaa;
}

.ui-datepicker {
	margin-top: -32px;
	margin-left: -3px;
}

.prix{
	width:50px;
	text-align:right;
}

.error_txt p{
	color:@color_error;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
LAYOUT BASE
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.layout_flexcontainer {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.layout-flexcontent {
	flex: 1;
}




/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
ERRORS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.error_txt {
	text-color: 30px;
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
TITRE PAGE
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
h1.titrepage {
	font-size: 30px;
}



.blanccalque25 {
	background-color: rgba(255, 255, 255, 0.25);
}

.blanccalque33 {
	background-color: rgba(255, 255, 255, 0.33);
}

.blanccalque50 {
	background-color: rgba(255, 255, 255, 0.5);
}

.blanccalque66 {
	background-color: rgba(255, 255, 255, 0.66);
}

.blanccalque75 {
	background-color: rgba(255, 255, 255, 0.75);
}


.titrepage {
	margin-top: 0px;
}

.topcontent1 {
	/*background-color: green;*/
	min-height: 30px
}

.topcontent2 {
	/*background-color: yellow;*/
	min-height: 30px
}












.flexcontainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: stretch;
}

.portrait {
	background-color: #fed;
	border: solid;
	border-width: 10px;
	border-color: Cornsilk;
	margin: 5px;
	text-align: center;
	flex-grow: 1;
}

.portrait .nom {
	margin-top: -5px;
}

.is_actif {
	background-color: Cornsilk;
}


.is_not_actif {
	background-color: Crimson;
}






/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
FOOTER
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.footercontainer {
	background-color: #EEE;
/*	position: fixed;
	bottom: 0px;
	*/	text-align: center;
}

.footer1 {
	background-color: #DDD;
}

.footer2 {
	/*background-color: CornSilk;*/
}

.footer3 {
	background-color: #DDD;
}

.relais {
	font-size: 0.9em;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
DIVERS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.modemploi{
	font-size: 0.9em;
	font-style: italic;
}

.modemploi .fa{
	margin-left: 2px;
	margin-right: 2px;
	font-size: 0.9em;
}

