.ligne_livraison div{
	min-width: 20%;
}

.ligne_livraison form{
	width: 100%;
}

.lespaniers{
	background-color:#e5e5d9;
}


.livraison_dates, .livraison_paniers, .livraison_footer{
	background-color:#EEE;
	text-align: left;
	margin-top:10px;
	justify-content:space-between;
	align-items: center;
}

.livraison_footer{
	justify-content:center;
}