@import "variables.less";

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
Vue index
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.index_livraisons{
	border-collapse: collapse;
	thead{
		background-color: @color_livraison_dark;
		color:@color_livraison;
	}
	tbody tr{
		background-color: @color_livraison;
		font-size: 0.9em;
		border-bottom: 1px solid @color_livraison_dark;
	}
	th, td{
		padding: 6px;
	}
	.L_ARCHIVABLE{
		padding: 0;
	}
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
Vue createdit (create & edit)
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.form_dates, .form_paniers, .form_relaiss{
	background-color:@color_livraison;
	margin-top:10px;
	justify-content:space-between;
	align-items: center;
	box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
	// border: 1px solid @color_livraison_dark;
}

.form_dates{
	min-height: 100px;
	input{
		width:250px;
	}
	.datecontainer{
		display: flex;
		flex-direction: column;
	}
	.ui-datepicker-trigger{
		background-color: @color_livraison_dark;
		color: @color_livraison;
	}
	.ui-datepicker-trigger:hover{
		background-color: darken(@color_livraison_dark, 11%);
		color:#ffee80;
	}
}


.form_paniers{
	.panierschoisis{
		tr{
			font-size:0.8em;
			background-color: @color_panier;
			border-style: solid;
			border-color: @color_livraison_dark;
			border-width: 1px 0;
		}
		td{
			padding: 0px 10px;
		}
		td .nomcourt {
			font-size: 1.1em;
			font-weight: bold;
			width: 150px;
		}
		select{
			margin-top:10px;
		}
		.prix{
			width:50px;
			text-align:right;
		}
	}
}

.boutonspaniers{
	flex-flow: column wrap;
	align-items: center;	
	button{
		margin-top: 5px;	
	}
}


.form_relaiss{
	.relaiscontainer.IndispoGlobal{
		// background-color: rgba(230, 240, 250, 0.3);
		// border: 1px solid @color_warning;
		p{
			// color: @color_txt_indisponisable;
		}
	}
	.relaiscontainer.IndispoPourLivraison{
		// background-color: rgba(230, 240, 250, 0.3);
		// border: 1px solid @color_danger;
		p{
			// color: @color_txt_indisponisable;
		}
	}
	.relaiscontainer{
		padding: 5px;
		align-self: start;
		box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
		display: flex;
		flex-direction: column;
		background-color: @color_relais;
		text-align: center;
		min-width: 13%;
		max-width: 15%;
		p{
			line-height: 1.3em;
			font-size: 0.8em;
			.gras{
				font-size: 1.1em;
				font-weight: bold;
				line-height: 1.3em;
			}
			.ville{
				text-transform: uppercase;			
			}
		}
		p.indispo{
			color: @color_txt_indisponisable;
			.premiere::before{
				content: "Pour info";
				display: block;
			}
		}

		p.IndispoPourLivraison{
			font-size: 0.9em;
			color: @color_danger;
			.premiere::before{
				content: "Problème pour la livraison";
				display: block;
			}
		}
		p.IndispoPourLivraison::after{
			content: "(Nota : ce relais refusera d’être associé tant que le problème de date subsistera)";
			display: block;
			font-size: 0.8em;
			line-height: 1em;
			margin-top: 5px;
		}
		p.IndispoGlobal{
			font-size: 0.9em;
			color: darken(@color_warning, 10%);
			.premiere::before{
				content: "Attention !!";
				display: block;
			}
		}
		.liaison{
			#flagLied, #flagLied.LiedWIthThisLivraison, .toggle{
				color: #fff;
				font-size: 0.75em;
				font-weight: 400;
				width: auto;
				height: 20px;
				margin: 0;
				padding: 0 5px;
				text-align: center;
			}
			#flagLied{
				color: @color_danger;
			}
			#flagLied.LiedWIthThisLivraison{
				color: @color_success;
			}
			.toggle{
			}
		}
	}
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
Vue handleLivraisonChanges
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.handleLivraisonChanges {
	p{
		font-size: 1.3em;
		margin-bottom:5px;
		span{
			font-size: 0.8em;
		}
	}
	input{
		margin-top: -5px;
	}
	.livraison{
		background-color: @color_livraison;
		// border-top: 10px solid yellow;
		// margin-top: -5px;
	}
}
//////////////////////////////////////////////////////////////////////////////////

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
Vues modales
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


/* Vue modale (listPaniers)
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.modal-listPaniers {
	margin: 30px auto;
	width: 75%;
}

.choisirunpanier {
	margin-top: 5px;
}

.type {
	width: 25%;
}


/* Vue modale (choixproducteurs)
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.modal-choixproducteurs {
	margin: 30px auto;
	width: 75%;
}

.choisirunproducteur {
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	margin-top: 5px;
}
