@import "variables.less";

#paniers_index .portrait.is_actif{
	background-color:@color_panier;
	border-color:@color_panier;
}

#paniers_index:hover{
	cursor:all-scroll;
}


.toggle_actif.is_actif div{
	background-color: @color_panier;
}

.panier{
	background-color: lighten(@color_panier, 3%);
}