/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
COULEURS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* Couleurs de bootstrap */
@color_primary:#337ab7;
@color_success:#5cb85c;
@color_info:#5bc0de;
@color_warning:#f0ad4e;
@color_danger:#d9534f;

@color_error:#a94442;
@color_tempo: yellow;
@color_notactif:#a94442;
@color_lied: #ACEFAC;

/* Modèles */
@color_livraison:#FFF4EF;
@color_livraison2: desaturate(@color_livraison, 65%);
@color_livraison_dark: darken(@color_livraison, 65%);

@color_panier:#F5F0E2;

@color_producteur:#bdd8c9;
