/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
COULEURS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* Couleurs de bootstrap */
@color_primary:#337ab7;
@color_success:#5cb85c;
@color_info:#5bc0de;
@color_warning:#f0ad4e;
@color_danger:#d9534f;

@color_error:#d9534f;
@color_tempo: yellow;
@color_notactived:#a94442;
@color_lied: #ACEFAC;
@color_txt_indisponisable: #999;

/* Modèles */
@color_livraison:#FCF7F4;
@color_livraison_dark: darken(@color_livraison, 65%);

@color_panier:#F5F0E2;
@color_panier_dark: darken(@color_panier, 65%);

@color_producteur:#bdd8c9;

@color_relais: #e6f2fd;

@color_modepaiement: #ece7f1;

@color_commande: #f4f4c8; //f2f2bf; //e5e529
@color_commande_dark: darken(@color_commande, 50%);

@color_indispos: aqua;

@color_mails: aquamarine;


/* Couleurs site */
@color_titres: #09508D;
@color_fond_gris_leger: #EEE;