.nav > li > p{
	color: #d00;
	padding: 15px 15px 2px;
	display: block;
}

.espace_client h2, .espace_client h3{
	color: #00C;
	display: block;
}
.espace_client h2{
	text-align: center;
}






.encadred {
	background-color: rgba(255, 255, 255, 0.6);
}

.encadred2 {
	background-color: rgba(255, 255, 255, 0.3);
}


.titrepage {
	margin-top: 0px;
}

.topcontent1 {
	/*background-color: green;*/
	min-height: 30px
}

.topcontent2 {
	/*background-color: yellow;*/
	min-height: 30px
}












.flexcontainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: stretch;
}

.portrait {
	background-color: #fed;
	border: solid;
	border-width: 10px;
	border-color: Cornsilk;
	/*display: inline-table;*/
	margin: 5px;
	text-align: center;
	flex-grow: 1;
	min-width: 220px;
	min-height: 150px;
}

.portrait .nom {
	margin-top: -5px;
}

.is_actif {
	background-color: Cornsilk;
}


.is_not_actif {
	background-color: Crimson;
}







.footercontainer {
	background-color: Azure;
	position: fixed;
	bottom: 0px;
	text-align: center;
}



/*.footer2.open {
	top: 0px;
	transition: all 1s;
	height:580px;
}

.footer2.closed {
	transition: all 1s;
	height:38px;
}
*/

.footer1 {
	background-color: Pink;
}

.footer2 {
	/*background-color: CornSilk;*/
}

.footer3 {
	background-color: Yellow;
}

.relais {
	font-size: 0.9em;
}

