/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
COULEURS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Couleurs de bootstrap */
/* Modèles */
/* Couleurs site */
#dashboard_console {
  flex-flow: column nowrap;
  justify-content: flex-start;
  height: 95%;
}
#dashboard_console > div {
  margin: 5px 0;
  text-align: center;
  background-color: yellow;
}
#dashboard_content {
  flex-flow: column nowrap;
  justify-content: flex-start;
}
#dashboard_content > div {
  margin-bottom: 20px;
  text-align: center;
  background-color: #fcf7f4;
  padding: 0 10px 10px 10px;
  border: solid 2px #814623;
}
#dashboard_content > div h4 {
  background-color: #814623;
  color: #FFF;
  margin: 0 -10px;
  padding: 5px 0;
}
#dashboard_content > div h3 {
  color: #814623;
  background-color: #fcf7f4;
  font-size: 1.2em;
  font-weight: 700;
  padding-top: 5px;
}
#dashboard_content table {
  font-size: 0.9em;
  line-height: 1.2em;
  /* table-layout:fixed; */
  width: 100%;
  border: 1px solid #814623;
  border-collapse: collapse;
  margin-top: 1em;
}
#dashboard_content table th,
#dashboard_content table td {
  text-align: center;
  border: 1px solid #814623;
  padding: 3px;
}
#dashboard_content table .surligned {
  color: #FFFFFF;
  background-color: #814623;
  border: 1px solid #fcf7f4;
}
#dashboard_content table .identifiant {
  width: 5%;
}
#dashboard_content table .panier {
  width: 20%;
  text-align: left;
}
#dashboard_content table .producteur {
  width: 20%;
  text-align: left;
}
div #dashboard_content .livraison,
div #dashboard_console .livraison {
  background-color: #fcf7f4;
}
div #dashboard_content .commande,
div #dashboard_console .commande {
  background-color: #f4f4c8;
}
div #dashboard_content .relai,
div #dashboard_console .relai {
  background-color: #e6f2fd;
}
div #dashboard_content .producteur,
div #dashboard_console .producteur {
  background-color: #bdd8c9;
}
div #dashboard_content .mails,
div #dashboard_console .mails {
  background-color: #7fffd4;
}
div #dashboard_content .indispos,
div #dashboard_console .indispos {
  background-color: #00ffff;
}
/* undocumented function */
td.libelle_chiffre_affaire {
  text-align: right;
}
small.affiche_masque.afficher:before {
  content: "Afficher ";
}
small.affiche_masque.masquer:before {
  content: "Masquer ";
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
                          ISSUES DE LA SOURCE ANCIENNE VERSION (brutes sans aucun tri)
                          - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
