/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
COULEURS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#paniers_index .portrait.is_actif {
  background-color: #f5f0e2;
  border-color: #f5f0e2;
}
.toggle_actif.is_actif div {
  background-color: #f5f0e2;
}
.panier {
  background-color: #f9f6ed;
}
