/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
COULEURS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Couleurs de bootstrap */
/* Modèles */
#paniers_index:hover,
#paniers_trashed:hover {
  cursor: all-scroll;
}
#paniers_index .fiche.is_actif,
#paniers_trashed .fiche.is_actif {
  background-color: #f5f0e2;
  border-color: #f5f0e2;
}
.panier {
  background-color: #f9f6ed;
}
.panier .toggle_actif.is_actif div {
  background-color: #f5f0e2;
}
